{% extends 'base.html' %}
{% load static %}


{% block content %}

<style>
    .container div {
        width: 250px;
        height: 500px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border-radius: 1rem;
      }
      
      .container img{
        width: 100%;
        border-radius: 1rem;
      }
      {% comment %} .container .item1 { height: 200px; }
      .container .item4 { height: 800px; }
      .container .item6 { height: 600px; }
      .container .item11 { height: 400px; } {% endcomment %}
      
</style>


<div class="container">
    <div class="item1">
      <img src= "https://picsum.photos/200/300" alt="">
    </div>
    <div class="item2">
      <img src= "https://picsum.photos/200/340" alt="">
    </div>
    <div class="item3">
      <img src= "https://picsum.photos/200/250" alt="">
    </div>
    <div class="item4">
      <img src= "https://picsum.photos/200/160" alt="">
    </div>
    <div class="item5">
      <img src= "https://picsum.photos/200/260" alt="">
    </div>
    <div class="item6">
      <img src= "https://picsum.photos/200/500" alt="">
    </div>
    <div class="item7">
      <img src= "https://picsum.photos/200/400" alt="">
    </div>
    <div class="item8">
      <img src= "https://picsum.photos/200/320" alt="">
    </div>
    <div class="item9">
      <img src= "https://picsum.photos/200/510" alt="">
    </div>

    

  </div>

  <div style= "text-align:center">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
      Article 생성
    </a>
  </div>

<script>
.container div {
    width: 280px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    }
    
    .container .item1 { height: 200px; }
    .container .item4 { height: 800px; }
    .container .item6 { height: 600px; }
    .container .item11 { height: 400px; }
    
</script>

<script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock%}