.pragmatic_logo{
    font-family: 'Dongle', sans-serif
}

.pragmatic_header{
    text-align:center; margin: 2rem 0;
}

.pragmatic_footer_button{
    font-size: 0.5rem
}


.pragmatic_footer{
    text-align:center ; margin-top: 2rem
}


