{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div style="font-family:'MaruBuri-Bold'">
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <p>
            {{ target_user.date_joined }}
            {% comment %} {{ user.date_joined }} {% endcomment %}
        </p>

        

        {% if target_user.profile %}
        <h2>
            <h4>
            {{ target_user.profile.nickname }}
            </h4>
                {% if target_user == user %}
                <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 8rem; border-radius: 20rem; margin-bottom: 2rem;">
                
                <h5 style="margin-bottom: 3rem;">
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                </h5>

                {% endif %}
            {% comment %} {{ target_user.username }} {% endcomment %}
            {% comment %} {{ user.username }} {% endcomment %}
        </h2>
        <h5 style="margin-bottom: 3rem">
            {{ target_user.profile.message }}
        </h5>

        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2>
                    Create Profile
                    {% comment %} {{ target_user.profile.nickname }} {% endcomment %}
                    {% comment %} {{ target_user.username }} {% endcomment %}
                </h2>
            </a>
            {% else %}
            <h2>
                닉네임 미설정
            </h2>
            
            {% endif %}
        {% endif%}

        

        {% if target_user == user %}
        <a href="{% url 'accountapp:update' pk=user.pk %}">
            <p>
                Change Info
            </p>
        </a>

        <a href="{% url 'accountapp:delete' pk=user.pk %}">
            <p>
                Quit
            </p>
        </a>
        {% endif%}
    </div>


</div>


{% endblock %}