{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        {% comment %} <p> {% endcomment %}
            {% comment %} {{ target_user.date_joined }} {% endcomment %}
            {% comment %} {{ user.date_joined }} {% endcomment %}
        {% comment %} </p> {% endcomment %}
        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt="" 
                style="height: 12rem; width: 8rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
                <h2 style="font-family: 'MaruBuri-Bold'">
                {{ target_user.profile.nickname }}
                {% if target_user == user %}
                    <a class="material-icons"
                    style="box-shadow: 0 0 4px #ccc; border-radius:10rem; padding: .4rem;"
                    href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                    </a>
                
                {% endif %}
                <h5 style="margin-bottom: 3rem;">
                    {{ target_user.profile.message}}
                </h5>

            </h2>
            {% comment %} {{ target_user.username }} {% endcomment %}
            {% comment %} {{ user.username }} {% endcomment %}
        

        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2>
                    Create Profile
                    {% comment %} {{ target_user.profile.nickname }} {% endcomment %}
                    {% comment %} {{ target_user.username }} {% endcomment %}
                </h2>
            </a>
            {% else %}
            <h2>
                닉네임 미설정
            </h2>
            
            {% endif %}
        {% endif%}

        

        {% if target_user == user %}
            <a class="material-icons"
                        style="box-shadow: 0 0 4px #ccc; border-radius:10rem; padding: .4rem;"
                        href="{% url 'accountapp:update' pk=user.pk %}">
                    settings
            </a>

            <a class="material-icons"
                        style="box-shadow: 0 0 4px #fcc; border-radius:10rem; padding: .4rem;"
                        href="{% url 'accountapp:delete' pk=user.pk %}">
                        delete
            </a>
        {% endif%}
    </div>


    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

</div>


{% endblock %}